@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@layer base {
  body {
    @apply text-white font-Inter;
  }
  button {
    @apply rounded-3xl px-8 py-3 text-white min-w-[140px];
  }
  h1 {
    @apply lg:text-7xl text-4xl font-black;
  }
  h2 {
    @apply lg:text-4xl text-xl font-semibold;
  }
  h3 {
    @apply lg:text-xl text-lg;
  }

  li {
    @apply text-lightgrey;
  }
}
@tailwind components;

@tailwind utilities;

@layer utilities {
  .custom-gradient {
    background-image: url(./assets/background.png);
  }
  .custom-gradient2 {
    background-image: linear-gradient(188deg, #e100ff 0%, #7f00ff 100%);
    box-shadow: 1.1504625082015991px -1.8359957933425903px 5.351851940155029px 0px
        rgba(127, 0, 255, 0.05),
      5.062035083770752px -8.078381538391113px 11.08148193359375px 0px rgba(127, 0, 255, 0.09),
      12.424994468688965px -19.828754425048828px 22.100000381469727px 0px rgba(127, 0, 255, 0.11),
      23.92961883544922px -38.18871307373047px 43.318519592285156px 0px rgba(127, 0, 255, 0.13),
      40.26618576049805px -64.25984954833984px 79.64814758300781px 0px rgba(127, 0, 255, 0.17),
      62.12497329711914px -99.1437759399414px 136px 0px rgba(127, 0, 255, 0.22);
    transform: rotate(176deg);
  }
  .custom-gradient3 {
    background-image: linear-gradient(188deg, #e100ff 0%, #7f00ff 100%);
  }
  .accent {
    background-image: linear-gradient(184deg, #e100ff 27.3%, #7f00ff 84.77%);
    background-clip: text;
    color: transparent;
  }
  .green-accent {
    background-image: linear-gradient(270deg, #00c187 0%, #00c2ff 100%);
    background-clip: text;
    color: transparent;
  }
  .blue-accent {
    background-image: linear-gradient(180deg, #005df9 0%, #a7daff 100%);
    background-clip: text;
    color: transparent;
  }
  .box-gradient {
    background-image: linear-gradient(
      180deg,
      #1b0f4e 0%,
      rgba(27, 15, 78, 0) 100%
    );
    box-shadow: 0px -21px 30px 0px rgba(127, 67, 255, 0.6);
  }
  .bg-image {
    background-image: url(./assets/bg2.png);
  }
  .bg-image2 {
    background-image: url(./assets/image2.png);
  }
}
